* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}
#app {
    background-color: blue;
    min-height: 100%;
    display: flex;
}

.wrapper {
    flex: 1;
    max-width: $site-width;
    // max-height: 100%;
    background-color: antiquewhite;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
}